@import "./css-bootstrap/scss/functions";
@import "./css-bootstrap/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    width: 100%;
}

body {
    font-family: 'Inter', serif;
    height: 100vh;
    background-color: rgb(19, 19, 19); // #fff
    &.lightMode{
        background-color: #e6e6e6;
    }
    &::-webkit-scrollbar {
        width: 10px;
        height: 7px;
        background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgb(168, 168, 168);
        border-radius: 5px;
    }
}

.container-center {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    width: 100%;
    height: 6rem;
    padding-top: .5rem;
    margin-bottom: 2rem;
    background-color: rgb(11, 11, 11);
    body.lightMode &{
        background-color: #d2d2d2;  
    }
}

.container-logoCetis84 {
    float: left;
    width: 6rem;
    height: 5.2rem;
    margin-right: 1rem; // delete
    user-select: none;
    background: radial-gradient(rgb(61, 61, 61) 10%, rgb(11, 11, 11) 70% );
    & img {
      width: 6rem;
      height: 5rem;
    }

    body.lightMode &{
        background: none;
    }
}

.conatiner-title-header {
    float: left;
    margin-right: 1rem;
    user-select: none;
    & a {
        text-decoration: none;
    }
    & h2 {
        font-size: 1.7rem;
        font-weight: 700;
        color: #fff;
        margin: 1.7rem 0 ;
        transition: 0.2s;
        cursor: pointer;
        body.lightMode &{
            color: #273D62;
            &:hover {
                color: rgb(166, 32, 31);
            }
        }
        &:hover {
            color: rgb(166, 32, 31);
        }
    }
}

.container-button_login,
.container-button_confi,
.container-button_logout {
    float: right;
    margin-top: 1.2rem;
    margin-right: 1rem;
}

hr {
    box-sizing: content-box;
    color: #fff;
    body.lightMode &{
        color: #000
    }
    &.divTabla{
        display: none;
    }
}

.container-button_back {
    margin-bottom: 0.5rem;
    & button{
        float: right;
    }
}

.container-options_tabla_alumnos{
    & .container-tabla_alumnos {
        max-width: 100%;
        max-height: 450px;
        & #insertAlumno th{
            text-align: center;
            & + td {
                user-select: none;
                cursor: pointer;
            }
        }
    }
}
.estado {
    text-align: center;
}
.container-options_tabla_user{
    & .container-tabla_user {
        max-width: 100%;
        max-height: 450px;
        & #insertUser th{
            text-align: center;
            & + td {
                user-select: none;
                cursor: pointer;
            }
        }
    }
}

.container-filtro_alumnos,
.container-filtro_user {
    max-width: 500px;
    color: #fff;
    & h4{
        margin-bottom: 1.2rem;
    }
}


.container-filtro_historial_publico,
.container-filtro_historial_usuarios {
    max-width: 300px;
    color: #fff;
    margin-bottom: 1rem;
}

.table-responsive{
    &::-webkit-scrollbar {
        width: 10px;
        height: 7px;
        background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgb(168, 168, 168);
        border-radius: 5px;
    }
}

form,
.form {
    & h2,h3,h4,h5,h6 {
        color: #fff;
    }
    & .input-group-text{
        color: #fff;
        background: rgb(63, 65, 70);
        border: none;
    }
    & .form-control, 
    .form-select {
        color: #fff;
        background: rgb(41, 42, 45);
        border: none;
        &::placeholder{
            color: #c3c3c3;
        }
        &:focus {
            background: rgb(41,42,45);
            color: #fff;
        }
    }
    body.lightMode &{
        color: #000;
        & h2,h3,h4,h5,h6 {
            color: rgb(0, 0, 0);
        }
        & .input-group-text{
            color: rgb(0, 0, 0);
            background: rgb(233, 236, 239);
            border:1px solid rgb(175, 175, 175);
        }
        & .form-control, 
        .form-select {
            color: #000;
            background: #cdcdcd;
            border:1px solid rgb(175, 175, 175);
            &::placeholder{
                color: rgb(86, 86, 86);
            }
            &[type=file]{
                color: rgb(86,86,86);
            }
        }
    }
}
.container-historiales{
    width: 100%;
}

.container-historial_usuarios,
.container-historial_usuarios_publicos{
    width: calc(50% - 2rem);
    float: left;
    margin-right: 1rem;
    margin-left: 1rem;
}



.modal-content {
    background: rgb(19, 19, 19);
    color: #fff;
    user-select: none;
    body.lightMode &{
        background: #e6e6e6;
        color: #000;
        border: 1px solid rgb(83, 83, 83);
    }
    & .modal-body h6{
        color: rgb(255, 0, 4);
    }
}

.container-switch{
    position: relative;
    bottom: -1rem;
    right: -0.5rem;
    margin-bottom: 0.5rem;
}
.switch {
    background:orange;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
    transition: 0.3s;
    height: 30px;
	&::after {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		background: #f1f1f186;
		top: 0;
		left: 0;
		right: unset;
		border-radius: 100px;
		transition: .3s ease all;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	}
	&.active {
        background: #343D5B;
		color: #000;
		&::after {
			right: 0;
			left: unset;
		}
	}
	span {
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background: none;
		color: #fff;
	}
}

@media only screen and (max-width:900px) {
    
    .container-center {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }
    
    hr {
        &.divTabla{
            display: inline-block;
            width: 100%;
        }
    }

    .container-historial_usuarios,
    .container-historial_usuarios_publicos{
        width: calc(100% - 2rem);
        margin-right: 0rem;
        margin-left: 0rem;
    }

}
@media only screen and (max-width:500px) {

    header {
        padding: 0.2rem;
    }

    .container-logoCetis84 {
        margin-right: 0.2rem;
    }

    .container-button_confi,
    .container-button_logout {
        margin-right: 0.5rem;
        margin-top: 1.5rem;
    }

    
    .container-button_login {
        margin-top: 1.5rem;
    }

    .conatiner-title-header {
        margin-right: 0;
    }
    
}
@media only screen and (max-width:376px) {
    .container-button_confi,
    .container-button_logout {
        margin-top: 0.2rem;
    }

}